name: Build Linux Binary

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Binary
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.x'
        check-latest: true

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libsqlite3-dev

    - name: Build Frontend Assets
      run: make build-frontend

    - name: Build Linux Binary
      run: |
        mkdir -p bin
        CGO_ENABLED=1 GOOS=linux GOARCH=amd64 go build -trimpath -ldflags '-s -w' -v -o bin/payambar-linux-amd64 ./cmd/payambar

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: payambar-linux-amd64
        path: bin/payambar-linux-amd64
        if-no-files-found: error
